@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<!-- slider Area Start -->
<div class="container" style="background-image:url(./bg.png); height:350px;">
    <div class="row d-flex align-items-center justify-content-center" style="padding: 3vh;">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-8">
            <div class="hero__caption">
                <h4 data-animation="fadeInRight" data-delay=".2s">
                    KALAA GHAR <br> A Platform for all individual artists, creator and makers
                    to sell their kalaa on their own free of charge.
                </h4>
            </div>
        </div>
    </div>
</div>

<!-- slider Area End-->
<!-- Latest Products Start -->
<vc:home-page-craft />



<div class="latest-wrapper lf-padding container-fluid">
    <div class="latest-area latest-height d-flex align-items-center" data-background="assets/img/collection/latest-offer.png">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img src="~/bg.png" style="width:50%" />
                    </div>
                </div>
                <div class="col-md-6">
                    <strong>Signup</strong> <br />
                    <p>You think that your kalaa will sell?</p><br />
                    <p>Then signup today and start earning.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="latest-wrapper lf-padding container-fluid">
    <div class="latest-area latest-height d-flex align-items-center" data-background="assets/img/collection/latest-offer.png">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <strong>Upload your art/crafts</strong> <br />
                        <p>Upload your arts with pictures.</p><br />
                        <p>Provide information about your arts/crafts.</p>
                        <p>It's all upto you to sell your kalaa.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/bg.png" style="width:50%" />

                </div>
            </div>
        </div>
    </div>
</div>

<div class="latest-wrapper lf-padding container-fluid">
    <div class="latest-area latest-height d-flex align-items-center" data-background="assets/img/collection/latest-offer.png">
        <div class="container">

            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img src="~/bg.png" style="width:50%" />
                    </div>
                </div>
                <div class="col-md-6">
                    <strong>Talk to your buyers and get paid</strong> <br />
                    <p>If somebody likes your art/crafts they will contact you.</p><br />
                    <p>Talk to your buyers directly and get paid.</p>
                </div>
            </div>
        </div>
    </div>
</div>